body {}

#loader {
	position: absolute;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100px;
  width: 100px;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#flow {
  height: 100%;
  padding-top: 60px;
}

#flow .node circle, #flow .node ellipse, #flow .node polygon, #flow .node rect {
  fill: #F4F9FD;
  stroke: rgba(108,133,159,0.4);
  transition: fill 0.3s ease-in, color 0.3s ease-in;
}

#flow .node.active circle, #flow .node.active ellipse, #flow .node.active polygon, #flow .node.active rect {
  fill: #B7D7EF;
}

.highcharts-container {
  margin: auto;
}
.modal {
  width: initial;;
  max-width: 90%;
}

#toast-container {
  bottom: 12px;
  left: 12px;
  top: unset;
  right: unset;
}

.modal .title {
  font-size: 16px;
  font-weight: 500;
  color: #737c93;
  padding: 8px 0 22px;
  text-align: center;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}

.selecter {
  float: left;
  margin-right: 7px;
}

.add-btn, .del-btn {
  background-image: linear-gradient(0deg,#f4f9fd,#fff);
  border: 1px solid #bdc9d6;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  height: 28px;
  margin-left: 2px;
  padding: 0;
  width: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  color: #737c93;
  cursor: pointer;
}

#props {
  padding-top: 7px;
  padding-left: 14px;
}
.group {
  margin-bottom: 4px;
}
.group .error {
  border: 1px solid #FF4B51;
}
