body {
  max-width: 100vw;
  overflow-x: hidden;
}

#flow .node circle, #flow .node ellipse, #flow .node polygon, #flow .node rect {
  fill: #F4F9FD;
  stroke: rgba(108,133,159,0.4);
  transition: fill 0.3s ease-in, color 0.3s ease-in;
}

#flow .node.active circle, #flow .node.active ellipse, #flow .node.active polygon, #flow .node.active rect {
  fill: #B7D7EF;
}

.highcharts-container {
  margin: auto;
}
.modal {
  width: 60em;
  max-width: 90%;
}
